.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 24px;
  font-weight: 500;
  gap: 20px;
  margin-top: 40px;
}

.button-container {
  display: flex;
  gap: 15px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}